@if (showToolbar()) {
<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div class="logo-left">
      <button
        mat-icon-button
        (click)="toggleSidenav()"
        aria-label="Abrir/cerrar menú"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="logo-section" routerLink="/">
        <img src="logo-ltrc.png" alt="Logo" class="logo" />
        <span class="title">Los Tordos Rugby Club</span>
      </div>
    </div>

    <ltrc-user-profile-menu />
  </div>
</mat-toolbar>
}
<div class="main-content">
  <router-outlet />
</div>
