<mat-toolbar color="primary">
  <div class="toolbar-content">
    <div class="logo-section" routerLink="/">
      <img src="logo-ltrc.png" alt="Logo" class="logo">
      <span class="title">{{ title }}</span>
    </div>

    <div class="user-section">
      @if (user$ | async; as user) {
        <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
        <button mat-button routerLink="/dashboard">DASHBOARD</button>
        <button mat-button (click)="logout()">CERRAR SESIÓN</button>
      }
    </div>
  </div>
</mat-toolbar>
<div class="main-content">
  <router-outlet/>
</div>
