@if (currentUser(); as user) {
  <div class="user-info" [matMenuTriggerFor]="userMenu">
    <div class="user-name-row">
      <span class="user-name">{{ user.name }} {{ user.lastName }}</span>
      <mat-icon class="dropdown-icon">arrow_drop_down</mat-icon>
    </div>
    <span class="user-role">{{ primaryRoleLabel() }}</span>
  </div>
  <mat-menu #userMenu="matMenu">
    @if (canSetPassword()) {
      <button mat-menu-item routerLink="/dashboard/set-password">
        <mat-icon>lock</mat-icon>
        <span>Configurar contraseña</span>
      </button>
      <mat-divider />
    }
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
}
