<div class="player-editor">
  <div class="sticky-toolbar">
    <div class="sticky-toolbar__title">
      <span class="sticky-toolbar__name">
        {{ editing ? 'Editar jugador' : 'Nuevo jugador' }}
      </span>
    </div>
    <div class="sticky-toolbar__actions">
      <button mat-stroked-button type="button" (click)="onCancel()">
        <mat-icon>arrow_back</mat-icon>
        Cancelar
      </button>
      @if (editing && player) {
      <button
        *ltrcAllowedRoles="[RoleEnum.ADMIN, RoleEnum.MANAGER]"
        mat-stroked-button
        color="warn"
        type="button"
        (click)="onDelete()"
      >
        <mat-icon>delete</mat-icon>
        Eliminar jugador
      </button>
      }
      <button
        mat-flat-button
        color="primary"
        type="submit"
        form="playerForm"
        [disabled]="submitting"
      >
        <mat-icon>{{ player ? 'save' : 'person_add' }}</mat-icon>
        {{ player ? 'Actualizar jugador' : 'Crear jugador' }}
      </button>
    </div>
  </div>

  @if (submitting) {
  <mat-progress-bar mode="indeterminate" />
  }

  @if (loading()) {
  <ltrc-form-skeleton [rows]="8" />
  } @else {
  <ltrc-player-form
    [player]="player"
    [submitting]="submitting"
    (formSubmitWithPhoto)="onFormSubmitWithPhoto($event)"
    (cancel)="onCancel()"
  />
  }
</div>
