.upload-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 12px;

  .full-width {
    width: 100%;
  }
}

.file-picker {
  button {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    width: 100%;
    justify-content: flex-start;
  }
}
