<form [formGroup]="searchForm" class="search-form">
  <div class="search-row">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Nombre o temporada</mat-label>
      <input
        matInput
        placeholder="Ej: Copa o 2024"
        formControlName="searchTerm"
      />
      @if (searchForm.get('searchTerm')?.value) {
      <button mat-icon-button matSuffix type="button" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <button mat-stroked-button type="button" class="filters-toggle" (click)="filtersExpanded = !filtersExpanded">
      <mat-icon>tune</mat-icon>
      {{ filtersExpanded ? 'Ocultar' : 'Filtros' }}
    </button>
  </div>

  <div class="filters-row" [class.filters-row--open]="filtersExpanded">
    @if (showSportFilter) {
    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Deporte</mat-label>
      <mat-select formControlName="sport">
        <mat-option [value]="undefined">Todos</mat-option>
        @for (s of sportOptions; track s.id) {
        <mat-option [value]="s.id">{{ s.label }}</mat-option>
        }
      </mat-select>
      @if (searchForm.get('sport')?.value) {
      <button
        mat-icon-button
        matSuffix
        type="button"
        (click)="clearField('sport')"
      >
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    }

    <mat-form-field appearance="outline" class="filter-field">
      <mat-label>Categorías</mat-label>
      <mat-select formControlName="categories" multiple>
        @for (c of categoryOptions; track c.id) {
        <mat-option [value]="c.id">{{ c.label }}</mat-option>
        }
      </mat-select>
      @if (searchForm.get('categories')?.value?.length) {
      <button mat-icon-button matSuffix type="button" (click)="clearField('categories')">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>

    <div class="filter-row-break"></div>

    <mat-form-field appearance="outline" class="search-field search-field--desktop">
      <mat-label>Nombre o temporada</mat-label>
      <input matInput placeholder="Ej: Copa o 2024" formControlName="searchTerm" />
      @if (searchForm.get('searchTerm')?.value) {
      <button mat-icon-button matSuffix type="button" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
  </div>
</form>
