<form [formGroup]="searchForm" class="search-form">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Nombre o temporada</mat-label>
    <input matInput placeholder="Ej: Copa o 2024" formControlName="searchTerm" />
    @if (searchForm.get('searchTerm')?.value) {
      <button mat-icon-button matSuffix type="button" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Deporte</mat-label>
    <mat-select formControlName="sport">
      <mat-option [value]="undefined">Todos</mat-option>
      @for (s of sportOptions; track s.id) {
        <mat-option [value]="s.id">{{ s.label }}</mat-option>
      }
    </mat-select>
    @if (searchForm.get('sport')?.value) {
      <button mat-icon-button matSuffix type="button" (click)="clearField('sport')">
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
</form>