.navbar {
  display: flex;
  align-items: center;

  .logo-container {
    display: flex;
    align-items: center;
    gap: 8px;

    .club-logo {
      width: 40px;
    }

    .logo-text {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .spacer {
    flex: 1;
  }

  nav a.active-link {
    font-weight: bold;
    text-decoration: underline;
  }
}
