.table-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  table {
    width: 100%;
  }

  .player-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
  }
}
