<form [formGroup]="searchForm" class="search-form">
  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Buscar</mat-label>
    <input matInput formControlName="searchTerm" placeholder="Nombre o destino..." />
    @if (searchForm.get('searchTerm')?.value) {
    <button mat-icon-button matSuffix type="button" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    } @else {
    <mat-icon matSuffix>search</mat-icon>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Deporte</mat-label>
    <mat-select formControlName="sport">
      <mat-option [value]="undefined">Todos</mat-option>
      @for (opt of sportOptions; track opt.id) {
      <mat-option [value]="opt.id">{{ opt.label }}</mat-option>
      }
    </mat-select>
    @if (searchForm.get('sport')?.value) {
    <button mat-icon-button matSuffix type="button" (click)="clearField('sport')">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Estado</mat-label>
    <mat-select formControlName="status">
      <mat-option [value]="undefined">Todos</mat-option>
      @for (opt of statusOptions; track opt.id) {
      <mat-option [value]="opt.id">{{ opt.label }}</mat-option>
      }
    </mat-select>
    @if (searchForm.get('status')?.value) {
    <button mat-icon-button matSuffix type="button" (click)="clearField('status')">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>
</form>
