<app-widget-shell icon="exercise" iconFontSet="material-symbols-outlined" title="Mis rutinas" [loading]="loading()" height="460px">
  @if (!loading()) {
    @if (workouts.length === 0) {
      <p class="workout-widget__empty">No tenés rutinas asignadas este período.</p>
    } @else {
      @for (workout of workouts; track workout.id) {
        <div class="workout-widget__card" (click)="goToWorkout(workout.id!)" tabindex="0" (keydown.enter)="goToWorkout(workout.id!)">
          <div class="workout-widget__info">
            <span class="workout-widget__name">{{ workout.name }}</span>
            <span class="workout-widget__meta">
              <mat-icon class="workout-widget__meta-icon">fitness_center</mat-icon>
              {{ exerciseCount(workout) }} {{ exerciseCount(workout) === 1 ? 'ejercicio' : 'ejercicios' }}
              @if (daysLabel(workout)) {
                &nbsp;·&nbsp;{{ daysLabel(workout) }}
              }
            </span>
          </div>
          <mat-icon class="workout-widget__arrow">chevron_right</mat-icon>
        </div>
      }
    }
  }
</app-widget-shell>
