<form [formGroup]="searchForm" class="search-form">
  <div class="filters-container">

    <mat-form-field appearance="outline" class="search-field">
      <mat-label>Apellido o Apodo</mat-label>
      <input matInput placeholder="Ej: Perez o Pepe" formControlName="searchTerm" />
      @if (searchForm.get('searchTerm')?.value) {
        <button mat-icon-button matSuffix type="button" (click)="clearField('searchTerm')">
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>

    <mat-form-field appearance="outline" class="position-field">
      <mat-label>Posicion</mat-label>
      <mat-select formControlName="position">
        <mat-option [value]="undefined">Todas</mat-option>
        @for (option of positionOptions; track option.id) {
          <mat-option [value]="option.id">{{ option.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

  </div>
</form>
