<div class="user-editor">
  <div class="sticky-toolbar">
    <div class="sticky-toolbar__title">
      <span class="sticky-toolbar__name">
        {{ editing ? 'Editar usuario' : 'Nuevo usuario' }}
      </span>
    </div>
    <div class="sticky-toolbar__actions">
      @if (editing && user) {
      <button
        mat-stroked-button
        color="warn"
        type="button"
        (click)="onDelete()"
      >
        <mat-icon>delete</mat-icon>
        Eliminar usuario
      </button>
      }
    </div>
  </div>

  @if (submitting) {
  <mat-progress-bar mode="indeterminate" />
  }

  @if (loading) {
  <ltrc-form-skeleton [rows]="8" />
  } @else {
  <ltrc-user-form
    [user]="user"
    [submitting]="submitting"
    (formSubmit)="onFormSubmit($event)"
    (cancel)="onCancel()"
  />
  }
</div>
