.detail-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;

  .player-header, .tab-content {
    display: flex;
    flex-direction: column;
    padding: 16px;

    .header-content {
      display: flex;
      gap: 1rem;
      align-items: flex-start;

      .avatar {
        align-self: center;
        margin-right: 32px;

        img {
          width: 160px;
          height: 160px;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .main-info {
        display: flex;
        flex-direction: column;
        gap: 8px;

        h2 {
          margin: 0;
        }

        .nickname {
          font-style: italic;
          color: gray;
        }


      }

      .positions {
        display: flex;
        gap: 8px;
      }

      .actions-bar {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 8px;

        button {
          white-space: nowrap; // evita que el texto se rompa
        }
      }

    }

    .info-grid {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 24px;
      width: 100%;
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        margin: 0;
      }
    }
  }


}
